@media screen and (max-width: 1400px) {
    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }
    .about-containers {
      flex-wrap: wrap;
    }
    #contact,
    #projects {
      height: fit-content;
    }
  }
  
  @media screen and (max-width: 1200px) {
    #nav-bar {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
    #skills,
    .skill-details-container {
      margin-top: 2rem;
    }
    #profile,
    .section-container {
      display: block;
    }
    .arrow {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .section_pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 5rem;
    }
    .about-containers {
      margin-top: 0;
    }
    .section_text{
        margin-left: 20%;
    }
    .about-pic{
        margin-left: -10%;
    }
    
    
  }
  
  @media screen and (max-width: 650px) {
    #contact,
    footer {
      height: 40vh;
    }
    #profile {
      height: 83vh;
      margin-bottom: 0;
    }
    article {
      font-size: 1rem;
    }
    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }
    .contact-info-container {
      margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
      font-size: 1rem;
    }
    .skill-sub-title {
      font-size: 1.25rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    .section_pic-container {
      width: auto;
      height: 46vw;
      justify-content: center;
    }
    .s_text_p2 {
      font-size: 1.25rem;
    }
    .title {
      font-size: 2rem;
    }
    .text-container {
      text-align: justify;
    }
    .contact-icon{
        margin-left: 10px;
    }
    .s_text_p1{
        margin-top: 5rem;
    }
    .p_pic{
        margin-left: 6rem;
        margin-top: 2rem;
    }
    .section_text{
        margin-top: -2rem;
    }
    .about-pic{
        margin-left: 0.3rem;
        margin-top: -1rem;
    }
    #skills{
        margin-top: -2rem;
    }
  }
  @media screen and (max-width: 440px){
    #hamburger-nav{
       gap: 8rem; 
    }
    .my_logo{
      height: 90px;
      margin-top: 1rem;
    }
    #mypic{
      margin-left: -2rem;
      height: 30vh;
      width: auto;
    }
    #icon1{
      margin: 10px 40px ;
      /* margin-left: 40px; */
      margin-top: -30%;
    }
    #icon2{
      margin-top: 5px;
      margin-left: 40px;
      margin-bottom: 10px;
    }
    
  }